h1 Log in

form(method="POST", action="/session")
	p
		label(for="username") username:<br />
		input#username(name="username")
	p
		label(for="password") Password:<br />
		input#password(type="password", name="password")
	p
		input(type="submit", value="Log in");