extends layout

block content
	div.body-container
		div#compose-message-container
			label To: 
			input(type="text")
			label Subject:
			input(type="text")
			label Message:
			textarea#compose-message-input
			div#compose-message-footer
				a#compose-message-cancel(href="/messages") Cancel
				a(href="/messages")
					button.btn.btn-primary Send