extends layout

block content
	div#disc-body-container
		div.row-fluid
			div.span8#disc-left
				div#disc-header-container
					h3#disc-header What are the best destinations for retreats in Asia?
					div.row-fluid
						div#disc-header-profile-container
							div.span2
								a(href="#")
									img.qa-profile-pic(src="images/yogaowner1.png")
							div.span10
								div.disc-profile-details
									p <a href="#">Kathleen Karina</a>, <a href="#">Yoga to the People</a>, San Francisco
				div.disc-profile-a-container
					div.row-fluid
						div.span2
							a(href="#")
								img.qa-profile-pic(src="images/yogaowner6.png")
						div.span10
							div.disc-profile-details
								p <a href="#">Mike Noury (Gurmukh)</a>, <a href="#">Yoga of India</a>, Atlanta
								p My sister studio is in northern India. I would be happy to share insights and help you plan a retreat if you are considering Asia.
				div.disc-profile-a-container
					div.row-fluid
						div.span2
							a(href="#")
								img.qa-profile-pic(src="images/yogaowner5.png")
						div.span10
							div.disc-profile-details
								p <a href="#">Cassandra Bique</a>, <a href="#">Yoga Vinyassa</a>, San Francisco
								p Bhutan has some amazing retreat locations. It can be a nightmare getting in though, especially if members of your group are from different countries.
				div.disc-profile-a-container
					div.row-fluid
						div.span2
							a(href="#")
								img.qa-profile-pic(src="images/yogaowner2.png")
						div.span10
							div.disc-profile-details
								p <a href="#">Cassandra Bique</a>, <a href="#">Yoga Star</a>, San Francisco
								p Alibash is definitely the best we've done. It takes patience to get to (have to take a long bus ride) but it is totally worth it. I can give you pictures from our trip if you'd like.
				div.disc-profile-a-container
					div.row-fluid
						div.span2
							a(href="#")
								img.qa-profile-pic(src="images/yogaowner4.png")
						div.span10
							div.disc-profile-details
								p <a href="#">Alyse Jans</a>, <a href="#">Yoga for Elightenment</a>, San Francisco
								p When dreaming up your ideal yoga retreat, it may be tempting to focus solely on the asana and the beauty of the setting. But there's more to programming than that. A retreat can be extremely structured or very loose, and you need to be comfortable with the style you choose, and advertise the retreat accordingly. Some teachers prefer to host combined retreats: yoga and surfing, yoga and raw food, yoga and cooking, yoga and hiking in the Swiss Alps. Others offer only yoga and basic meals, leaving the students' free time up to their own discretion.
								p Many experienced teachers take a strict approach: plan out every hour of the retreat so that you're prepared for varying levels of student experience and enthusiasm.
								p "Sometimes we get a group that's 30 percent yoga teachers," says Sudhakar Ken McRae, owner of Global Yoga Journeys, based in Columbia, Missouri. Other times, all the participants are yoga teachers but "it's a mixed group, teachers who are really hungry and others who are reluctant. We usually have way more material than we need, so we can change the plan if we need to." McRae, who leads yoga tours in Europe and Costa Rica with his wife, Kathleen Knipp, advises teachers to bring an assistant. "We can split the tasks. It allows us to accommodate a broader range of needs, and there are two yoga teachers to relate to," McRae says. "Don't try to do this by yourself."									
			div.span4#disc-right
				div#disc-right-container
					div#disc-related-qs
						h3#com-header Related Questions:
						a(href="#")
							p.com-tags #Yoga
						a(href="#")
							p.com-tags #San Francisco
							div#disc-q-link-container
								a(href="#")
									p Has anyone participated in the Yoga Community SF group? I'd like to know whether it helped build your following and whether it is well run.
								a(href="#")
									p What is the cost of opening a yoga studio in San Francisco?
								a(href="#")
									p How many square feet do you reserve in your studio per mat?
					div#disc-related-bus
						h3#com-header
						div#disc-bus-pics-container
							div.disc-bus-pic-container
								img.disc-bus-pic(src="images/yoga1-crop.png")
							div.disc-bus-pic-container
								img.disc-bus-pic(src="images/yoga2-crop.png")
							div.disc-bus-pic-container
								img.disc-bus-pic(src="images/yoga3-crop.png")
							div.disc-bus-pic-container
								img.disc-bus-pic(src="images/yoga4-crop.png")