extends layout

block content
	div.body-container-gray
		div#search-bar-container
			div.row-fluid
				div.span4
					p.search-label Type
					form.form-search
						input.input-medium(type="text", placeholder="Yoga")
				div.span4
					p.search-label Place
					form.form-search
						input.input-medium(type="text", placeholder="The World")
				div.span4
					button.btn.btn-primary#search-btn(type="sbumit") Discover
		div#search-next-page
			a(href="#") Next page
		div#search-results-container
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga10-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Yoga to the People
							p.search-pic-location San Francisco
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga2-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name The Pad Studios
							p.search-pic-location New York
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga14-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Yoga Mayu
							p.search-pic-location Carmel
			div.search-pic-container#fourth
				a(href="profile")
					img.search-pic(src="images/yoga4-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Bend SF
							p.search-pic-location Boston
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga5-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Satori Yoga
							p.search-pic-location San Francisco
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga6-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Swan Yoga
							p.search-pic-location Sausalito
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga7-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Yoga Works
							p.search-pic-location San Mateo
			div.search-pic-container#fourth
				a(href="profile")
					img.search-pic(src="images/yoga8-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Katonah Yoga
							p.search-pic-location Boston
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga9-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Alayah Yoga Studio
							p.search-pic-location Burlington
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga13-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Westchester Yoga Studio
							p.search-pic-location Westchester
			div.search-pic-container
				a(href="profile")
					img.search-pic(src="images/yoga11-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Full Motion Fitness
							p.search-pic-location San Francisco
			div.search-pic-container#fourth
				a(href="profile")
					img.search-pic(src="images/yoga12-crop.png")
					div.search-pic-label-container
						div.search-pic-label
							p.search-pic-name Pranja Studio
							p.search-pic-location Hong Kong
			div#search-next-page-bottom
				a(href="#") Next page