extends layout

block content
	script(type="text/javascript", src="/javascripts/photo-modal.js")
	div.body-container
		div.row-fluid
			div.span8.row-fluid#home-container-left
				div.span6
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga31.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
							div.home-img-icon-container
								p.home-star-label 37
									img.home-star(src="images/star.png")
								p.home-commment-label 45
									img.home-comment(src="#")
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga11.jpg")
						div.home-img-label
							p.home-img-comment Before class
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga26.jpg")
						div.home-img-label
							p.home-img-comment View from entrance
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga13.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga04.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga15.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga40.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga17.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga22.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga23.jpeg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga24.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga-people-1.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga12.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
				div.span6
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga28.jpg")
						div.home-img-label
							p.home-img-comment View from the beach
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga29.jpg")
						div.home-img-label
							p.home-img-comment Main yoga room
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga30.jpg")
						div.home-img-label
							p.home-img-comment Beautiful in the morning
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga42.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga41.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga32.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga33.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga34.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga35.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga36.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga37.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga38.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/rsz_yoga39.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
					div.home-img-container
						a(href="#viewModal", role="button", data-toggle="modal")	
							img.home-img(src="images/yoga27.jpg")
						div.home-img-label
							p.home-img-comment Our new studio!
			div.span4#home-container-right
				div#home-discussion-header-container
					h3 Discussion Board
					div#home-discussion-link-container
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner4.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content What are the best destinations in Asia for a retreat?
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner3.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content Is yoga practiced in France with as much enthusiasm as in the...
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner6.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content How challenging is it to beomce a Certified Puma Yoga Teacher...
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner5.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content How many advanced classes do you offer and how many beginner? We...
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner2.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content We are planning a retreat in Northern India in March. Any...
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner1.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content Has anyone participated in Yoga Community SF? I am deciding...
						a#home-go-to-discuss(href="discuss") Go to Discussion Board
	div#viewModal.view-modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="viewModalLabel", aria-hidden="true")
		div#view-large-container
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			img#view-large-img(src="images/yoga10-2.jpg")
			div.view-img-label
				h3.view-img-name Yoga to the People
				a.pull-right#view-profile-container(href="profile")
					p#view-profile View profile
		a#profile-modal-slide-left-home(class="carousel-control left", href="#myCarousel", data-slide="prev") &lsaquo;
		a#profile-modal-slide-right-home(class="carousel-control right", href="#myCarousel", data-slide="next") &rsaquo;