extends layout

block content
	script(type='text/javascript', src='/javascripts/homepage.js')
	div.body-container
		div.row-fluid
			div.span7
				div.row-fluid
					div.span6
						div.bus-pic-container
							div#bus-profile-pic1
								a.bus-profile-link(href="/profile")
									h3.bus-pic-label Yoga To The People
									p.bus-pic-label-city San Francisco, CA
						div.bus-pic-container
							div#bus-profile-pic2
								a.bus-profile-link(href="#")
									h3.bus-pic-label Birkam Yoga
									p.bus-pic-label-city Amsterdam, Netherlands
						div.bus-pic-container
							div#bus-profile-pic3
								a.bus-profile-link(href="#")
									h3.bus-pic-label Strala Yoga
									p.bus-pic-label-city New York, NY
					div.span6.bus-pic-column
						div.bus-pic-container
							div#bus-profile-pic4
								a.bus-profile-link(href="#")
									h3.bus-pic-label La Colombe
									p.bus-pic-label-city San Francisco, CA
						div.bus-pic-container
							div#bus-profile-pic5
								a.bus-profile-link(href="#")
									h3.bus-pic-label Jane
									p.bus-pic-label-city Princeton, NJ
						div.bus-pic-container
							div#bus-profile-pic6
								a.bus-profile-link(href="#")
									h3.bus-pic-label Cloth
									p.bus-pic-label-city San Francisco, CA
			div.span5
				div#qa-container
					h3#qa-header Ask your community
					textarea#qa-input(rows="3", placeholder="Type question here")
					div#tag-container
						h4#tags-header Tags
						label.checkbox.inline Yoga
							input(type="checkbox", value="", checked)
						label.checkbox.inline San Francisco
							input(type="checkbox", value="", checked)
						form.form-inline#tags-other
							label.checkbox
								input(type="checkbox", name="keywords", value="")
							input(type="text", name="keywords_other_option", value="", placeholder="Other")
					button#qa-submit-btn.btn.btn-primary(type="submit") Ask Question
				div#qa-feed-container
					div.qa-links
						a What is the most challenging thing about opening a yoga studio?
					div.qa-links
						a What are the best locations for yoga retreats in California?
					div.qa-links
						a What adjustments are you making to your business in preparation for the America's Cup?