extends layout

block content
	div#container
		div.row-fluid
			div.span3
				div#logo-container
					img#logo(src='/images/logo5.png')
				div#services-container
					ul#services-list
						li Corporate event catering
						li Product launch parties
						li Venues
						li Event planning
						li Full bar
						li Lighting and heating
			div.span6
				div#description-container
					div#provider-info
						h3 Elegant Affairs
						a(href='http://www.elegantaffairscaterers.com', target="_blank") www.elegantaffairscaterers.com
						p Phone: 212-991-0078
						div#provider-description
							p Elegant Affairs is New York City’s premier Corporate Caterer. From Cocktail Receptions to Gala Events, Elegant Affairs plans the finest New York City events. Elegant Affairs designs the menu, organizes the vendors, party rentals, and takes care of every party detail.
							p Need to roll out your next high-end product launch in an unforgettable fashion? Elegant Affairs is New York City’s premiere caterer.
							p Elegant Affairs can produce events of any size. Need a New York City event venue? Check out our Venues page for more detailed information.
			div.span3
				div#action-container
					a#quote-call.btn.btn-large.btn-primary(href='#') Add to Quotes
		div.row-fluid
			div#review-container
				div.review-row-first
					div.row-fluid
						div.span2
							img.reviewer-pic(src='images/airbnb.jpg')
							div.review-details-container
								img.thumbsup(src='/images/thumbsup.jpg')
								p.review-date May 29, 2013
						div.span10
							p.reviewer-details 
								a.reviewer-name(href='http://www.linkedin.com/profile/view?id=12374562&authType=OUT_OF_NETWORK&authToken=eeiA&locale=en_US&srchid=77d45d23-0f17-47da-94c8-cfee53118808-0&srchindex=4&srchtotal=351&goback=%2Efps_PBCK_airbnb+office+manager_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&pvs=ps&trk=pp_profile_name_link', target="_blank")  Sarah B.
								| , Executive Office Manager, 
								a.reviewer-company(href='#') Airbnb
								img.pull-right.upvote(src='images/upvote.jpg')
							p.review-job-details
								h5 Description of Service:
								p We had a major product release this Friday, planned on short notice. We catered cocktails and appetizers for 75. Elegant Affairs provided a full bar, tables and equipment, staff, and, of course, food.
							div.review 
								h5 Review:
								p From the very first phone conversation, Jane was incredibly impressive. Her attention to detail, extensive knowledge and hunger to please was insatiable. 
								p I am the CEO/Founder of Executive Assistants Organization (EAO) and our global members are without question, the hardest to 'wow'. Jane Hammond and her team 'WOWED' each and every one of them, and me!
								p And to top it off, having been the host of my event, she already contemplated I would have no time to eat, so she saved me and my team some of the eateries for when we wrapped up. These are the little things that make a company exquisite.
								p Great job!
				div.review-row
					div.row-fluid
						div.span2
							img.reviewer-pic(src='images/lyft.jpg')
							div.review-details-container
								img.thumbsup(src='/images/thumbsup.jpg')
								p.review-date May 13, 2013
						div.span10
							p.reviewer-details 
								a.reviewer-name(href='http://www.linkedin.com/profile/view?id=9258748&authType=OUT_OF_NETWORK&authToken=z9n5&locale=en_US&srchid=05547fae-2760-42d4-9eaa-c3fbc53542e9-0&srchindex=4&srchtotal=46&goback=%2Efps_PBCK_lyft+office+manager_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&pvs=ps&trk=pp_profile_photo_link', target="_blank")  Quinton S.
								| , Regional Manager, 
								a.reviewer-company(href='#') Lyft
								img.pull-right.upvote(src='images/upvote.jpg')
							p.review-job-details
								h5 Description of Service:
								p Elegant Affairs provided catering, cocktails, staffing and a venue for our SF launch party. They also handled cleanup and setup.
							div.review 
								h5 Review:
								p Jane and her amazing team always knock it out of the park here in our space. They are one of our top catering companies and are well organized, awesome to work with and honestly a pleasure to have as one of our partners.
								p We refer to them often and are always thrilled to have them working with our production team here.
								p Tonight they knocked it out once again and bring to bear all of their talent for each of our events.
				div.review-row
					div.row-fluid
						div.span2
							img.reviewer-pic(src='images/lyft2.jpg')
							div.review-details-container
								img.thumbsup(src='/images/thumbsup.jpg')
								p.review-date March 2, 2013
						div.span10
							p.reviewer-details 
								a.reviewer-name(href='#', target="_blank")  Caroline W.
								| , Executive Assistant to CEO, 
								a.reviewer-company(href='#') YouNoodle
								img.pull-right.upvote(src='images/upvote.jpg')
							p.review-job-details
								h5 Description of Service:
								p I organized my company's holiday party a little over a month ago, and after speaking with several caterers, I chose JHE for the event. Sian worked with us to create a flavorful menu of tapas, mezze platters, lasagna, salads, vegetables, and desserts, as well as coordinated flowers, rentals, and the bar and coffee cart.
							div.review 
								h5 Review:
								p We had nothing but raves, and if given the opportunity, I'd love to work with JHE again.