extends layout

block content
	div.body-container
		div.row-fluid
			div.span8#home-container-left
				img.home-img(src="images/yoga2.jpg")
				img.home-img(src="images/yoga7.jpg")
				img.home-img(src="images/yoga8.jpg")
				img.home-img(src="images/yoga9.jpg")
				img.home-img(src="images/yoga11.jpg")
				img.home-img(src="images/yoga12.jpg")
				img.home-img(src="images/yoga13.jpg")
				img.home-img(src="images/yoga4.jpg")
			div.span4#home-container-right
				div#home-discussion-header-container
					h3 Discussion Board
					div#home-discussion-link-container
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner4.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content What are the best destinations in Asia for a retreat?
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner3.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content Is yoga practiced in France with as much enthusiasm as in the United...?
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner6.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content How challenging is it to beomce a Certified Puma Yoga Teacher (CPYT)?
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner5.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content How many advanced classes do you offer and how many beginner? We...
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner2.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content We are planning a retreat in Northern India in March. Any...
						div.home-discuss-thread-container
							div.row-fluid
								div.span3
									a(href="discussion")
										img.home-profile-pic(src="images/yogaowner1.png")
								div.span9
									div.home-discuss-content-container
										a(href="discussion")
											p.home-discuss-content Has anyone participated in Yoga Community SF? I am deciding...
						a#home-go-to-discuss(href="discuss") Go to Discussion Board
