extends layout

block content
	div#container
		div.row-fluid
			div.span3
				div#logo-container
					img#logo(src='/images/logo5.png')
				div#services-container
					ul#services-list
						li Corporate event catering
						li Product launch parties
						li Venues
						li Event planning
						li Full bar
						li Lighting and heating
			div.span6
				div#description-container
					div#provider-info
						h3 Elegant Affairs
						a(href='http://www.elegantaffairscaterers.com', target="_blank") www.elegantaffairscaterers.com
						p Phone: 212-991-0078
						div#provider-description
							p Elegant Affairs is New York City’s premier Corporate Caterer. From Cocktail Receptions to Gala Events, Elegant Affairs plans the finest New York City events. Elegant Affairs designs the menu, organizes the vendors, party rentals, and takes care of every party detail.
							p Need to roll out your next high-end product launch in an unforgettable fashion? Elegant Affairs is New York City’s premiere caterer.
							p Elegant Affairs can produce events of any size. Need a New York City event venue? Check out our Venues page for more detailed information.
			div.span3
				div#action-container
					a#quote-call.btn.btn-large.btn-primary(href='#') Add to Quotes
		div.row-fluid
			div#review-container