doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div#navbar-container
					ul.nav
						li
							a#navbar-home(href="/") Home
					ul.nav.pull-right
						li#message-icon-container
							a(href="/messages")
								img#mail-icon(src="images/mail-icon.png")
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") My Account <b class="caret"></b>
							ul.dropdown-menu
								li
									a(href="/messages") Messages
								li
									a(href="/profile") My Profile
								li
									a(href="#") Log out
		block content
