extends layout

block content
	div#message-page-container
		div#message-page-container-left
			div#message-list-header
				h3 Inbox
					a#compose-message(href="/compose") Compose Message
			ul#message-list-container
				li.message-list
					div.row-fluid
						div.span2
							a(href="/profile")
								img.message-profile-pic(src="images/yogaowner2.png")
						div.span10
							p <strong>Sophia Blique</strong>
							a.message-list-to-link(href="/conversation")
								p.message-list-subject <strong>Subject:</strong> Hi
							p.message-list-date Mar 16
				li.message-list
					div.row-fluid
						div.span2
							a(href="/profile")
								img.message-profile-pic(src="images/yogaowner3.png")
						div.span10
							p <strong>Hans Serleig</strong>
							a.message-list-to-link(href="/conversation")
								p.message-list-subject <strong>Subject:</strong> Yoga Retreat Bali
							p.message-list-date Jan 12