extends layout

block content
	div.body-container
		div#owner-containter
			div#owner-pic-container
				img#owner-pic(src="images/yogaowner1.jpg")
			div#owner-bio
				h3 Hi. I'm Kathleen.
				p “I heard Shiva came down on your yoga studio, “ my friend said, after hearing that my yoga studio had burned down in a fire.  ‘”What a positive perspective,” I thought to myself. With all the tragedy surrounding the studio fire, I hadn’t stopped to think of it as a positive sign of transformation and rebirth.
				p Three years ago, I co-owned a yoga studio in Kansas City, MO, that burned up, literally, overnight at the height of its’ success.  At the time of the fire, in February 2002, the studio offered four classes a day, with an average of 400 students per week. This was amazing, considering the awareness of yoga in the midwest, was fairly limited at that time.
		div.bus-profile-pic-container
			img.bus-profile-pic(src="images/yoga1.jpg")

			//div.span6
				//	div#map-container
						// <iframe id="googleMap" width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=kansas+city+mo&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=Kansas+City,+Jackson,+Missouri&amp;ll=39.099726,-94.578567&amp;spn=44.356262,107.138672&amp;output=embed"></iframe>