extends layout

block content
	div#myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-body
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			label Subject:
			input#message-subject-input(type="text")
			label Message:
			textarea#message-input
		div.modal-footer
			a#message-cancel(data-dismiss="modal", aria-hidden="true") Cancel
			button.btn.btn-primary Send
	div#profile-container
		div#profile-background
			div#profile-title-container
				h2#profile-title Yoga to the People
			button.btn.btn-primary#view-photos-btn View Photos
			div#profile-location-container
		div#profile-content-container
			div.row-fluid
				div.span6
					div#profile-bio-container
						div#owner-profile-pic-container
							img#owner-profile-pic(src="images/yogaowner1.png")
						h4#owner-name Kathleen Karina
						div
							a#message-btn.btn.btn-primary(href="#myModal", role="button", data-toggle="modal") Message
						div#company-info-container
							p.company-info <strong>Location:</strong> San Francisco, CA
							p.company-info <strong>Opened:</strong> 2004
							p.company-info <strong>Bio:</strong> My husband and I founded Yoga to the People in 2004 after we visited Tibet for a retreat. We are located in the heart of the Mission. Our interior is inspired by our experience in Tibet. We have <em>thuka</em> mats for our yogi and burn incense at dawn every Saturday.
				div.span6
					div#profile-board
							h4#profile-board-header Message Board
							p I am looking for a partnership in Asia. If you are interested, please reach out to me!
					div.qa-profile-thread-container
						div.qa-profile-q-container
							div.row-fluid
								div.span2
									a(href="#")
										img.qa-profile-pic(src="images/yogaowner1.png")
								div.span10
									div.qa-profile-details
										p <a href="#">Kathleen Karina</a>, <a href="#">Yoga to the People</a>, San Francisco
									p.qa-profile-q What are the best destinations in Asia for a retreat?
						div.qa-profile-a-container
							div.row-fluid
								div.span2
									a(href="#")
										img.qa-profile-pic(src="images/yogaowner6.png")
								div.span10
									div.qa-profile-details
										p <a href="#">Mike Noury (Gurmukh)</a>, <a href="#">Yoga of India</a>, Atlanta
									p My sister studio is in northern India. I would be happy to share insights and help you plan a retreat if you are considering Asia.
						div.qa-profile-a-container
							div.row-fluid
								div.span2
									a(href="#")
										img.qa-profile-pic(src="images/yogaowner5.png")
								div.span10
									div.qa-profile-details
										p <a href="#">Sarah Niels</a>, <a href="#">Real Life Yoga</a>, Holbrook
									p Bhutan has some amazing retreat locations. It can be a nightmare getting in though, especially if members of your group are from different countries.
						div.view-convo-container
							a(href="#") View Conversation
					div.qa-profile-thread-container
						div.qa-profile-q-container
							div.row-fluid
								div.span2
									a(href="#")
										img.qa-profile-pic(src="images/yogaowner2.png")
								div.span10
									div.qa-profile-details
										p <a href="#">Cassandra Bique</a>, <a href="#">Yoga Vinyassa</a>, San Francisco
									p.qa-profile-q Has anyone participated in the Yoga Community SF group? I'd like to know whether it helped build your following and whether it is well run.
						div.qa-profile-a-container
							div.row-fluid
								div.span2
									a(href="#")
										img.qa-profile-pic(src="images/yogaowner1.png")
								div.span10
									div.qa-profile-details
										p <a href="#">Kathleen Karina</a>, <a href="#">Yoga to the People</a>, San Francisco
									p We tried it last year. It was a great way to meet with other yoga studios. It's expensive, but it's a great experience.
						div.view-convo-container
							a(href="#") View Conversation
								