extends layout

block content
	div#myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-body
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			label Subject:
			input#message-subject-input(type="text")
			label Message:
			textarea#message-input
		div.modal-footer
			a#message-cancel(data-dismiss="modal", aria-hidden="true") Cancel
			button.btn.btn-primary Send
	div.body-container-gray
		div#profile2-background-container
			img#profile2-background(src="images/yoga-bg1-taller.png")
			div.profile2-pic-label-container
				h3.profile2-pic-name Yoga to the People
				a.pull-right#view-photos-container(href="#")
					p#view-photos View photos
		div#profile2-content-container
			div.row-fluid
				div.span6
					div#profile2-content-container-left
						div.row-fluid
							div.span4
								img#profile2-person-pic(src="images/yogaowner4.png")
								
								button.btn.btn-primary#message-btn Message
							div.span8
								h4#profile2-person-name Tatiana Jorges
								p#profile2-location San Francisco, California
						div#profile2-about
							h4#profile2-about-header About
							p My husband and I opened this stuido 7 years ago. It has been such a joy to us. We have met a multitude of wonderful yoga practicioners, like ourselves, and shared so many amazing experiences.
							p We had been organizing retreats for ourselves and our friends for several years before we decided to open our own studio. It has been a challenge, but the reward has been astounding.
							p We are always delighted to connect with other yoga studio owners and yoga practioners.
				div.span6
					div#profile2-content-container-border-set
						div#profile2-content-container-right
							div#profile2-discussion-header-container
								h3#profile2-discussion-header Discussion
							div.profile2-thread-container
								div.qa-profile2-q-container
									div.row-fluid
										div.span2
											a(href="#")
												img.qa-profile2-pic(src="images/yogaowner4.png")
										div.span10
											div.qa-profile2-content-container
												div
													p.qa-profile2-details <a href="#">Tatiana Jorges</a>, <a href="#">Yoga to the People</a>, San Francisco
												a(href="discussion")
													p.qa-profile2-content-lead What are the best destinations in Asia for a retreat?
								div.qa-profile2-a-container
									div.row-fluid
										div.span2
											a(href="#")
												img.qa-profile2-pic(src="images/yogaowner6.png")
										div.span10
											div
												p.qa-profile2-details <a href="#">Mike Noury (Gurmukh)</a>, <a href="#">Yoga of India</a>, Atlanta
											p.qa-profile2-content My sister studio is in northern India. I would be happy to share insights and help you plan a retreat if you are considering Asia.
								div.qa-profile2-a-container
									div.row-fluid
										div.span2
											a(href="#")
												img.qa-profile2-pic(src="images/yogaowner5.png")
										div.span10
											div
												p.qa-profile2-details <a href="#">Sarah Niels</a>, <a href="#">Real Life Yoga</a>, Holbrook
											p.qa-profile2-content Bhutan has some amazing retreat locations. It can be a nightmare getting in, though, especially if members of your group are from different countries.
								div.view-convo-container
									a(href="discussion") View Conversation
							div.profile2-thread-container
								div.qa-profile2-q-container
									div.row-fluid
										div.span2
											a(href="#")
												img.qa-profile2-pic(src="images/yogaowner2.png")
										div.span10
											div.qa-profile2-content-container
												div
													p.qa-profile2-details <a href="#">Cassandra Bique</a>, <a href="#">Yoga Vinyassa</a>, San Francisco
												a(href="discussion")
													p.qa-profile2-content-lead Has anyone participated in Yoga Community SF? I am deciding whether to apply this year and would love to hear others' opinion.
								div.qa-profile2-a-container
									div.row-fluid
										div.span2
											a(href="#")
												img.qa-profile2-pic(src="images/yogaowner3.png")
										div.span10
											div
												p.qa-profile2-details <a href="#">Hans Serleig</a>, <a href="#">Yoga Khotana</a>, San Francisco
											p.qa-profile2-content We tried it last year. It was a great way to meet with other yoga studios. It's expensive, but it's a great experience.
								div.qa-profile2-a-container
									div.row-fluid
										div.span2
											a(href="#")
												img.qa-profile2-pic(src="images/yogaowner4.png")
										div.span10
											div
												p.qa-profile2-details <a href="#">Tatiana Jorges</a>, <a href="#">Yoga to the People</a>, San Francisco
											p.qa-profile2-content Yes! It was wonderful. It was great to meet with so many other yoga studios. I am definitely going to join again this year.
								div.view-convo-container
									a(href="discussion") View Conversation