/* 

#landing-right-container {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 100px;
	right: 100px;
	text-align: center;
}

.landing-tile {
	height: 200px;
	width: 200px;
	margin: 10px;
	background: rgba(247,247,247,.95);
	border-radius: 4px;
	box-shadow: 0 0 20px #000;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px #000;
	display: inline-block;
}

.landing-tile-header {
	margin: 20px 0px 5px 0px;
}

.landing-tile-content {
	margin: 0px;
	padding: 0px 10px;
	text-align: left;
}

.landing-tile1 {
	height: 200px;
	width: 200px;
	margin: 10px;
	background: rgba(196, 209, 250, .95);
	border-radius: 4px;
	box-shadow: 0 0 20px #000;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px #000;
	display: inline-block;
}

.landing-tile2 {
	height: 200px;
	width: 200px;
	margin: 10px;
	background: rgba(255, 199, 173, .95);
	border-radius: 4px;
	box-shadow: 0 0 20px #000;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px #000;
	display: inline-block;
}

.landing-tile3 {
	height: 200px;
	width: 200px;
	margin: 10px;
	background: rgba(183, 247, 187, .95);
	border-radius: 4px;
	box-shadow: 0 0 20px #000;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px #000;
	display: inline-block;
}

.landing-tile4 {
	height: 200px;
	width: 200px;
	margin: 10px;
	background: rgba(250, 196, 244, .95);
	border-radius: 4px;
	box-shadow: 0 0 20px #000;
		-moz-box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px #000;
	display: inline-block;
}

*/