.body-container {
	width: 1020px;
	margin: 44px auto 0px auto;
	padding: 30px 0px;
	background-color: rgba(247, 247, 247, .8)
}

.body-container-gray {
	width: 1020px;
	margin: 44px auto 0px auto;
	padding: 30px 5px;
	background-color: rgba(247, 247, 247, .8)
}

.body-container-convert {
	width: 1020px;
	padding-top: 30px;
	margin: 44px auto 0px auto;
	background-color: rgba(245, 245, 245, .8)
}

.bus-pic-container {
	margin: 0px 5px 20px 0px;
	text-align: center;
	opacity: .92;
	height: 180px;
}

.bus-pic-container:hover {
	opacity: 1;
}

#bus-profile-pic1 {
	background: url('/images/yoga1.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic2 {
	background: url('/images/yoga6.jpg') no-repeat center center;
	background-size: cover;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	height: 100%;
}

#bus-profile-pic3 {
	background: url('/images/yoga3.jpeg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic4 {
	background: url('/images/coffee1.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic5 {
	background: url('/images/clothing2.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic6 {
	background: url('/images/clothing1.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

.bus-profile-link:hover {
	text-decoration: none;
}

.bus-pic-label {
	margin: 0px;
	padding-top: 70px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.bus-pic-label-city {
	color: white;
	font-size: 18px;
	font-style: italic;
}

#qa-container {
	padding: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;
	text-align: center;
	overflow: hidden;
}

#qa-header {
	margin: 0px;
}

#qa-input {
	width: 95%;
	margin-top: 10px;
}

#qa-submit-btn {
	float: right;
	margin: 10px 2px;
}

#qa-feed-container {
	margin-top: 20px;
	border-radius: 4px 4px 4px 4px;
	overflow: hidden;	
}

.qa-links {
	padding-bottom: 10px;
}

#tag-container {
	text-align: left;
	margin-left: 5px;
}

#tags-header {
	margin: 0px 0px 5px 0px;
}

#tags-other {
	margin: 5px 0px 0px 0px;
}

/* Navbar */

.navbar-fixed-top {
	margin-bottom: 100px;
}

.navbar-inner {
	height: 43px;
}

#navbar-container {
	width: 1020px;
	margin: auto;
}

.navbar-link-container {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

#navbar-profile-img {
	height: 30px;
	width: 30px;
	opacity: .9;
}

#navbar-profile-img:hover {
	opacity: 1;
}

#navbar-img-link {
	padding: 7px 10px;
}

#navbar-icon-link {
	padding: 10px 0px 10px 10px;
}

#navbar-mail-icon {
	height: 30px;
	width: auto;
	margin-top: -2px;
	opacity: .98;
}

#navbar-mail-icon:hover {
	opacity: 1;
}

#navbar-home {
	padding-left: 10px;
}

/* Discover Page */

#search-container {
	padding: 20px 10px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;	
	overflow: hidden;
}

#discover {
	font-size: 16px;
	font-weight: bold; 
	margin: 5px 5px 0px 0px;
}

#search-container {
	background-color: #1B1B1B;
	padding: 10px;
}

#search-box {
	margin: 0px;
	float: left;
}

#search-text {
	font-size: 16px;
	margin: 5px 0px 0px 10px;
	float: left;
}

/* Profile Message */

#message-cancel {
	margin-right: 10px;
}

#message-input {
	width: 97%;
	height: 100px;
}

#myModal {
	width: 500px;
	margin-left: -250px;
}

#myModal label {
	font-weight: bold;
}

/* Message Page */

#message-page-container {
	width: 1020px;
	min-height: 2000px;
	margin: 44px auto 0px auto;
	padding-top: 20px;
	position: relative;
	background-color: rgba(241, 241, 241, 0.8);
}

li.message-list {
	list-style: none;
	padding: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	margin-bottom: 1px;
	position: relative;
	background-color: white;
}

li.message-list:hover {
	background-color: #FAFAFA;
}

img.message-profile-pic {
	height: 60px;
	width: 60px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;
}

#message-list-container {
	margin: 15px 0px;
}

.message-list-subject {
	margin-top: 10px;
}

.message-list-date {
	position: absolute;
	top: 10px;
	right: 10px;
}

#message-page-container-left {
	width: 450px;
	margin-left: 80px;
}

#message-list-header {
	border-bottom: 1px solid #1B1B1B;
}

#message-list-header h3 {
	margin-bottom: 5px;
}

#compose-message {
	float: right;
	font-size: 16px;
	font-weight: bold;
	vertical-align: bottom;
}

a.message-list-to-link {
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%;
}

#compose-message-container {
	display: block;
	margin: 10px auto;
	width: 500px;
	background-color: #FFF;
	padding: 15px;
	overflow-y: auto;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

#compose-message-container label {
	font-weight: bold;
}

#compose-message-input {
	width: 97%;
	height: 100px;
}

#compose-message-footer {
	margin: 10px 0px 5px 0px;
	float: right;
}

#compose-message-cancel {
	margin-right: 10px;
}

/* Conversation Page */

#conv-container-left {
	width: 500px;
	margin-left: 80px;
}

#conv-container-right {
	margin: 55px 0px 0px 30px;
}


#conv-header {
	border-bottom: 1px solid #1B1B1B;
}

#conv-start-date {
	font-size: 14px;
	font-weight: normal;
	float: right;
}

.conv-message-list {
	list-style: none;
	padding: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	margin-bottom: 1px;
	position: relative;
	background-color: white;	
}

.conv-message-list#reply {
	background-color: #F9FAFF;
}

#conv-message-list-container {
	margin: 15px 0px;
	display: block;
	height: 450px;
	overflow-y: auto;
}

label#conv-reply-message-label {
	font-weight: bold;
}

#conv-compose-message-input {
	width: 95%;
	height: 100px;
}

#search-bar-container {
	margin: -5px 0px 20px 10px;
	display: inline-block;
	min-width: 530px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	background-color: rgba(0, 16, 134, 0.15);
}

.search-label {
	font-weight: bold;
	margin-bottom: 3px;
}

#search-btn {
	padding: 10px 44px;
	font-size: 16px;
	margin: 10px -10px 0px 3px;
}

.form-search {
	margin-bottom: 0px;
}

#search-results-container {
	text-align: center;
	margin: 0px auto;
}

.search-pic-container {
	margin: 0px 30px 30px 0px;
	opacity: .95;
	height: 225px;
	display: inline-block;
	border-radius: 4px;
	position: relative;
}

.search-pic-container:hover {
	opacity: 1;
}

.search-pic-label-container {
	width: 100%;
	background-color: rgba(27,27,27,.85);
	z-index: 1;
	position: absolute;
	bottom: 0px;
	padding: 5px 0px;
}

.search-pic-label {
	color: white;
}

.search-pic-container#fourth {
	margin-right: 0px;
}

.search-pic {
	height: 100%;
	width: auto;
}

.search-pic-name {
	margin: 0px;
}

.search-pic-location {
	margin: 0px 5px 0px 0px;
	font-style: italic;
}

#search-next-page {
	float: right;
	font-size: 16px;
	margin: 40px 15px 0px 0px;
}

#search-next-page-bottom {
	text-align: right;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
}

#discover-bar-container {
	margin: 0px 0px 15px 0px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px;
}

.discover-pic-container {
	margin: 0px 30px 30px 0px;
	opacity: .95;
	height: 274px;
	display: inline-block;
	border-radius: 4px;
	position: relative;
}

.discover-pic-container#second {
	margin-right: 0px;
}

/******* Profile2 ***********/

#profile2-background-container {
	margin: 0px;
	position: relative;
}

#profile2-background {
	margin-top: -30px;	
}

#view-photos-link {
	position: absolute;
	right: 15px;
	font-size: 16px;
}

.profile2-pic-label-container {
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: rgba(27,27,27,.85);
	color: white;
}

.profile2-pic-name {
	margin: 0px;
	padding: 8px 10px;
	display: inline-block;
}

#view-photos-container {
	height: 56px;
	background-color: rgba(245,245,245,.8);
	padding: 0px 20px;
}

#view-photos-container:hover {
	background-color: rgba(245,245,245,.7);
	text-decoration: none;
}

#view-photos {
	margin-top: 18px;
	font-size: 18px;
	font-weight: bold;
}

#profile2-content-container {
	margin: 20px 10px 0px 10px;
	padding: 10px;
}

#profile2-person-pic {
	height: 150px;
	width: 150px;
	border: 5px solid gray;
	border-radius: 4px;
}

#profile2-person-name {
	margin: 4px 0px 5px 5px;
	font-size: 16px;
}

#profile2-location {
	margin: 5px 5px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

#message-btn {
	margin: 10px 0px 0px 0px;
	padding: 12px 48px;
	font-size: 15px;
}

#profile2-content-container-left {
	padding-right: 0px;
	border-right: 0px solid gray;
}

#profile2-content-container-right {
	margin-left: 17px;
	padding-left: 0px;
}

#profile2-content-container-border-set {
	margin-left: -17px;
	border-left: 0px solid gray;
}

#profile2-about {
	margin: 20px 0px 0px 0px;
	padding: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2);	
	border-radius: 4px;
}

#profile2-about-header {
	margin-top: 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

#profile2-discussion-header-container {
	text-align: center;
}

#profile2-discussion-header {
	margin: -5px 0px 10px 0px;
}

.profile2-thread-container {
	margin-bottom: 20px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 10px 10px 40px 10px;
	position: relative;
}

.qa-profile2-pic {
	height: 60px;
	width: 60px;
	border: 2px solid gray;
	border-radius: 4px;
}

.qa-profile2-thread-container {
	margin-bottom: 20px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 10px 10px 40px 10px;
	position: relative;
}

.qa-profile2-q-container {
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding-bottom: 10px;
}

.qa-profile2-a-container {
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding: 0px 0px 10px 20px;
	margin-top: 10px;
}

.qa-profile2-details {
	margin: -2px 0px 5px 0px;
}

.qa-profile2-content {
	margin-bottom: 0px;
}

p.qa-profile2-content-lead {
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 0px;
}

.qa-profile2-content-container {
	margin-left: -4px;
}

.view-convo-container {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* Discussion Page */

#disc-left {
	margin: 0px 10px 0px 10px;
	border-right: 1px solid gray;
	width: 65%;
}

#disc-header-container {
	margin: -5px 20px 20px 15px;
	padding-bottom: 15px;
	border-bottom: 3px solid gray;
}

#disc-header {
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 15px;
}

#disc-header-profile-container {
	margin: 0px 0px 0px 15px;
}

.disc-profile-details {
	margin-left: -25px;
}

.disc-profile-a-container {
	margin: 0px 20px 15px 30px;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
}

.discussion-a-content {
	margin-bottom: 5px;
}

#discussion-comment-input {
	width: 97%;
}

#discussion-comment-submit-btn {
	float: right;
	margin: 5px 0px 10px 0px;
}

#discussion-comment-submit-btn-top {
	float: right;
	margin: 10px 0px 0px 0px;	
}

#disc-right {
	margin: -7px 5px 0px 10px;
	width: 31%;
	padding-right: 10px;
}

#com-header {
	margin-bottom: 0px;
}

.com-tags {
	font-weight: bold;
	margin: 0px;
}

#disc-q-link-container {
	margin-top: 10px;
}

.disc-profile-pic {
	height: 60px;
	width: 60px;
	border: 3px solid gray;
	border-radius: 4px;
}

#discussion-question-container {
	margin: 20px 0px 0px 0px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 5px 15px 15px 15px;
	overflow: hidden;
}

#discussion-question-header-container {
	text-align: center;
}

#discussion-question-header {
	margin: 0px 0px 5px 0px;
}

#discussion-question-input {
	width: 95%;
	margin: 5px 0px;
}

#discussion-question-submit-btn {
	float: right;
	margin: 10px 0px 0px 0px;	
}

#discussion-community-tags-container {
	text-align: left;
}

#discussion-community-tags {
	font-weight: bold;
}

/* 

#disc-bus-pics-container {
	margin-top: 10px;
	text-align: center;
	margin-right: -15px;
}

.disc-bus-pic-container {
	height: 135px;
	width: 135px;
	overflow: hidden;
	display: inline-block;
	margin: 15px 15px 0px 0px;

}

.disc-bus-pic-container img {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;	
}

*/

/* Discuss Page */

#discuss-header-container {
	text-align: center;
}

#discuss-header {
	margin-top: -5px;
}

#discuss-all-thread-container {
	margin: 15px 30px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 5px 15px 15px 15px;
}

#discuss-thread-container {
	padding: 12px 0px 12px 0px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.discuss-profile-pic {
	height: 50px;
	width: 50px;
	border: 3px solid gray;
	border-radius: 4px;
}

.discuss-content-container {
	margin-left: -20px;	
}

.discuss-profile-details {
	margin-top: 5px;
	line-height: 18px;
}

.discuss-content {	
	margin-top: -1px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: bold;
}

#discuss-container-right {
	width: 35%;
}

#discuss-container-left {
	width: 62%;
	border-right: 1px solid gray;
}

#discuss-community-container {
	margin: 0px 20px 15px 0px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 5px 15px 5px 15px;
}

#discuss-community-header {
	margin: 0px 0px 5px 0px;
}

#discuss-community-type-label {
	font-weight: bold;
	display: inline-block;
}

#discuss-community-input-type {
	margin-left: 14px;
	display: inline-block;
}

#discuss-community-input-place {
	margin-left: 10px;
	display: inline-block;
}

#discuss-question-container {
	margin: 20px 20px 0px 0px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 5px 15px 15px 15px;
	overflow: hidden;
}

#discuss-question-header-container {
	text-align: center;
}

#discuss-question-header {
	margin: 0px 0px 5px 0px;
}

#discuss-question-input {
	width: 95%;
	margin: 5px 0px;
}

#discuss-question-submit-btn {
	float: right;
	margin: 10px 2px 0px 0px;	
}

#discuss-my-discussions-container {
	margin: 0px 20px 15px 0px;
	padding: 5px 15px 15px 15px;
}

#discuss-my-discussions-header-container {
	text-align: center;
}

#discuss-community-tags {
	font-weight: bold;
	font-size: 14px;
}