.body-container {
	width: 1020px;
	min-height: 1000px;
	margin: 70px auto;
}

.body-container-another {
	width: 1020px;
	min-height: 1000px;
	padding-top: 30px;
	margin: 44px auto 0px auto;

}



.body-container-convert {
	width: 1020px;
	padding-top: 30px;
	margin: 44px auto 0px auto;
	background-color: rgba(241, 241, 241, .8)
}

.bus-pic-container {
	margin: 0px 5px 20px 0px;
	text-align: center;
	opacity: .92;
	height: 180px;
}

.bus-pic-container:hover {
	opacity: 1;
}

#bus-profile-pic1 {
	background: url('/images/yoga1.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic2 {
	background: url('/images/yoga6.jpg') no-repeat center center;
	background-size: cover;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	height: 100%;
}

#bus-profile-pic3 {
	background: url('/images/yoga3.jpeg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic4 {
	background: url('/images/coffee1.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic5 {
	background: url('/images/clothing2.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

#bus-profile-pic6 {
	background: url('/images/clothing1.jpg');
	background-size: cover;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  height: 100%;
}

.bus-profile-link:hover {
	text-decoration: none;
}

.bus-pic-label {
	margin: 0px;
	padding-top: 70px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.bus-pic-label-city {
	color: white;
	font-size: 18px;
	font-style: italic;
}

#qa-container {
	padding: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;
	text-align: center;
	overflow: hidden;
}

#qa-header {
	margin: 0px;
}

#qa-input {
	width: 95%;
	margin-top: 10px;
}

#qa-submit-btn {
	float: right;
	margin: 10px 2px;
}

#qa-feed-container {
	margin-top: 20px;
	border-radius: 4px 4px 4px 4px;
	overflow: hidden;	
}

.qa-links {
	padding-bottom: 10px;
}

#tag-container {
	text-align: left;
	margin-left: 5px;
}

#tags-header {
	margin: 0px 0px 5px 0px;
}

#tags-other {
	margin: 5px 0px 0px 0px;
}

.navbar-fixed-top {
	margin-bottom: 100px;
}

.navbar-inner {
	height: 43px;
}

#navbar-container {
	width: 1020px;
	margin: auto;
}

#my-profile-img-container {
	width: 40px;
	float: right;
	overflow: hidden;
}

#my-profile-img {
	display: none;
	height: 40px;
	margin-top: 2px;
	width: auto;
	opacity: .9;
}

#my-profile-img:hover {
	opacity: 1;
}

#search-container {
	padding: 20px 10px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;	
	overflow: hidden;
}

#discover {
	font-size: 16px;
	font-weight: bold; 
	margin: 5px 5px 0px 0px;
}

#search-container {
	background-color: #1B1B1B;
	padding: 10px;
}

#search-box {
	margin: 0px;
	float: left;
}

#search-text {
	font-size: 16px;
	margin: 5px 0px 0px 10px;
	float: left;
}

/* Profile */

#profile-container {
	width: 1020px;
	height: 400px;
	margin: 44px auto;
	position: relative;
}

#profile-background {
	background: url('/images/yoga2.jpg') no-repeat center center;
	background-size: cover;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	height: 100%;
}

#profile-title-container {
	background-color: rgba(27,27,27,.35);
	display: inline-block;
	float: left;
	margin-top: 20px;
}

#profile-title {
	color: white;
	margin: 0px 5px;
	padding: 3px 0px;
}

#view-photos-btn {
	float: right;
	margin: 20px 10px 0px 0px;
	padding: 14px 42px;
	font-size: 18px;
}

#profile-location-container {
	background-color: rgba(27,27,27,.2);
	display: inline-block;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#profile-location {
	font-size: 24px;
	font-style: italic;
	color: white;
}

#profile-content-container {
	margin: 0px;
	padding: 30px 10px 100px 10px;
	background-color: rgba(241, 241, 241, 0.8);
}

#owner-profile-pic-container {
	height: 150px;
	width: 150px;
	overflow: hidden;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;
	float: left;
	margin-bottom: 15px;
}

#owner-name {
	display: inline-block;
	margin: 0px 0px 5px 10px;
}

#message-btn {
	margin: 5px 0px 0px 10px;
	padding: 6px 18px;
}

#map-container {
	float: right;
	height: 170px;
	width: 170px;
	overflow: hidden;
	margin: 0px 10px 0px 0px;
}

#company-info-container {
	clear: both;
	font-size: 15px;
}

.company-info {
	margin-bottom: 10px;
}

#profile-bio-container {
	padding-right: 20px;
}

.qa-profile-pic {
	height: 60px;
	width: 60px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;
}

.qa-profile-thread-container {
	border: 1px solid #1B1B1B;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;		
	padding: 10px 10px 40px 10px;
	position: relative;
	margin-bottom: 20px;
}

.qa-profile-q-container {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}

.qa-profile-a-container {
	border-bottom: 1px solid gray;
	padding: 0px 0px 10px 20px;
	margin-top: 10px;
}

.view-convo-container {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#profile-board {
	border: 1px solid blue;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;
	padding: 10px;
	margin-bottom: 20px;
}

#profile-board-header {
	font-size: 20px;
}

/* Discussion */

#disc-body-container {
	width: 1020px;
	margin: 44px auto;
	padding-bottom: 20px;
	background-color: rgba(241, 241, 241, 0.8);
}

#disc-left {
	border-right: 1px solid #1B1B1B;
	width: 66%;
}

#disc-header-container {
	margin: 25px 20px 30px 15px;
	padding-bottom: 20px;
	border-bottom: 3px solid #1B1B1B;
}

#disc-header {
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 20px;
}

#disc-header-profile-container {
	margin: 0px 0px 0px 15px;
}

.disc-profile-details {
	margin-left: -20px;
}

.disc-profile-a-container {
	margin: 0px 20px 15px 30px;
	border-bottom: 1px solid #1B1B1B;
	padding-bottom: 5px;
}

#disc-right {
	margin-left: 0px;
	width: 34%;
	padding-right: 10px;
}

#disc-right-container {
	margin: 25px 10px 30px 20px;
}

#com-header {
	margin-bottom: 0px;
}

.com-tags {
	font-weight: bold;
	margin: 0px;
	color: #1B1B1B;
}

#disc-q-link-container {
	margin-top: 10px;
}

#disc-bus-pics-container {
	margin-top: 10px;
	text-align: center;
	margin-right: -15px;
}

.disc-bus-pic-container {
	height: 135px;
	width: 135px;
	overflow: hidden;
	display: inline-block;
	margin: 15px 15px 0px 0px;

}

.disc-bus-pic-container img {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;	
}

/* Profile Message */

#message-cancel {
	margin-right: 10px;
}

#message-input {
	width: 97%;
	height: 100px;
}

#myModal {
	width: 500px;
	margin-left: -250px;
}

#myModal label {
	font-weight: bold;
}

#mail-icon {
	height: 30px;
	width: auto;
	margin-top: -2px;
}

#message-icon-container {
	width: 45px;
}

#navbar-home {
	padding-left: 10px;
}

/* Message Page */

#message-page-container {
	width: 1020px;
	min-height: 2000px;
	margin: 44px auto 0px auto;
	padding-top: 20px;
	position: relative;
	background-color: rgba(241, 241, 241, 0.8);
}

li.message-list {
	list-style: none;
	padding: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	margin-bottom: 1px;
	position: relative;
	background-color: white;
}

li.message-list:hover {
	background-color: #FAFAFA;
}

img.message-profile-pic {
	height: 60px;
	width: 60px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px 4px 4px 4px;
}

#message-list-container {
	margin: 15px 0px;
}

.message-list-subject {
	margin-top: 10px;
}

.message-list-date {
	position: absolute;
	top: 10px;
	right: 10px;
}

#message-page-container-left {
	width: 450px;
	margin-left: 80px;
}

#message-list-header {
	border-bottom: 1px solid #1B1B1B;
}

#message-list-header h3 {
	margin-bottom: 5px;
}

#compose-message {
	float: right;
	font-size: 16px;
	font-weight: bold;
	vertical-align: bottom;
}

a.message-list-to-link {
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%;
}

#compose-message-container {
	display: block;
	margin: 10px auto;
	width: 500px;
	background-color: #FFF;
	padding: 15px;
	overflow-y: auto;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

#compose-message-container label {
	font-weight: bold;
}

#compose-message-input {
	width: 97%;
	height: 100px;
}

#compose-message-footer {
	margin: 10px 0px 5px 0px;
	float: right;
}

#compose-message-cancel {
	margin-right: 10px;
}

/* Conversation Page */

#conv-container-left {
	width: 500px;
	margin-left: 80px;
}

#conv-container-right {
	margin: 55px 0px 0px 30px;
}


#conv-header {
	border-bottom: 1px solid #1B1B1B;
}

#conv-start-date {
	font-size: 14px;
	font-weight: normal;
	float: right;
}

.conv-message-list {
	list-style: none;
	padding: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	margin-bottom: 1px;
	position: relative;
	background-color: white;	
}

.conv-message-list#reply {
	background-color: #F9FAFF;
}

#conv-message-list-container {
	margin: 15px 0px;
	display: block;
	height: 450px;
	overflow-y: auto;
}

label#conv-reply-message-label {
	font-weight: bold;
}

#conv-compose-message-input {
	width: 95%;
	height: 100px;
}

#search-page-container {
	margin-left: 0px;
	display: inline-block;
	min-width: 530px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 4px;
	background-color: rgba(241, 241, 241, .8);
}

.search-label {
	font-weight: bold;
	margin-bottom: 3px;
}

#search-discover {
	padding: 10px 40px;
	font-size: 16px;
	margin: 10px -10px 0px 10px;
}

.form-search {
	margin-bottom: 0px;
}

#search-results-container {
	margin-top: 20px;
	background-color: rgba(241, 241, 241, .8);
	padding: 20px;
}

#search-results-container-inner {
	text-align: center;
	margin: 0px auto;
}

.search-pic-container {
	margin: 0px 30px 30px 0px;
	opacity: .95;
	height: 215px;
	display: inline-block;
	border-radius: 4px;
	position: relative;
}

.search-pic-container:hover {
	opacity: 1;
}

.search-pic-label-container {
	width: 100%;
	background-color: rgba(27,27,27,.85);
	z-index: 1;
	position: absolute;
	bottom: 0px;
	padding: 5px 0px;
}

.search-pic-label {
	color: white;
}
.search-pic-container#fourth {
	margin-right: 0px;
}

.search-pic {
	height: 100%;
	width: auto;
}

.search-pic-name {
	margin: 0px;
}

.search-pic-location {
	margin: 0px 5px 0px 0px;
	font-style: italic;
}